@import "tailwindcss";


.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-100;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded hover:bg-slate-400 transition-colors;
}